PORT=3000
ENV=development
# For Docker compose use: postgres://postgres:postgres@postgres:5432/postsdb
# For local development (API on host): postgres://postgres:postgres@localhost:5432/postsdb
DATABASE_URL=postgresql://postgres:2130@@@teste@db.tkatbgibracjuxveeuxb.supabase.co:5432/postgres?sslmode=require
