PORT=3000
ENV=development
# For Docker compose use: postgres://postgres:postgres@postgres:5432/postsdb
# For local development (API on host): postgres://postgres:postgres@localhost:5432/postsdb
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postsdb