name: CI

on:
  push:
  pull_request:



    
jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: postgresql://test:test@localhost:5432/testdb
      JWT_SECRET: your_jwt_secret_key_here
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: testdb
        ports:
          - 5432:5432

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Instalar dependências
        run: npm install

      - name: Gerar cliente Prisma
        run: npx prisma generate

      - run: npx prisma migrate deploy

        
      - name: Build do TypeScript
        run: npm run build

      - run: npm test
        env:
          DATABASE_URL: ${{ env.DATABASE_URL }}
          JWT_SECRET: ${{ env.JWT_SECRET }}
