name: Deploy

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - run: npm i -g @railway/cli
      
      - run: rm -rf ~/.config/railway || true
      
      
      - name: Deploy no Railway
        run: railway up --ci
        env:
          RAILWAY_TOKEN: 8c302b8c-d95a-4bbe-bba8-94c655d729a8
          RAILWAY_PROJECT_ID: 0a336047-e5d9-4507-86e2-6bde7063bc66

          NODE_ENV: production
